.layout-editor-button .gray {
    color: #9b9b9b;
    text-decoration: none;
}

.layout-editor-button:hover,
.layout-editor-button:focus {
    text-decoration: none;
}

.layout-editor-button {
    cursor: pointer;
}

.layout-editor-button .svg-icon {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.layout-editor-button .text {
    display: inline-flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    vertical-align: middle;
    font-size: 14px;
    line-height: 20px;
    align-items: flex-start;
}

.layout-editor-button .svg-icon svg {
    width: 40px;
    height: 40px;
 }