{##
 # Product price value
 #}

{% if this.isVATApplicable() %}
  {% if this.isDisplayedPriceIncludingVAT() %}
    <span class="vat-price"><span class="vat-note-product-price">{{ t('incl.VAT', {'name': this.getVATName()}) }}</span>
    </span>
  {% else %}
    <span class="vat-price"><span class="vat-note-product-price">{{ t('excl.VAT', {'name': this.getVATName()}) }}</span>
    </span>
  {% endif %}
{% endif %}
