{##
 # Install action
 #
 # @ListChild (list="itemsList.module.install.columns.module-main-section.actions", weight="100")
 #}
{% if this.canInstall(this.module) %}
  <div class="install-section">
    <div class="install">
      {{ widget('\\XLite\\View\\ModulesManager\\Action\\SelectToInstall', moduleID=this.module.getModuleID()) }}
    </div>
  </div>
{% endif %}
