{##
 # Quick menu top menu node
 #}
<div class="marketplace-menu menu notification">
  <div class="icon">
    <a href="{{ this.getUrl() }}">
      {{ this.getSVGImage('images/marketplace.svg')|raw }}
      <div class="unread-mark"></div>
    </a>
  </div>
  <div class="box">{{ widget('XLite\\View\\Menu\\Admin\\Marketplace\\LazyLoad') }}</div>
</div>
